{% extends "base.html.twig" %}

{% block title %}Movies{% endblock %}

{% block body %}
    <div class="container mx-auto px-4 py-8">
    {% if movies is empty %}
        <div class="bg-white rounded-lg shadow-lg overflow-hidden relative">
            <div class="px-6 py-4">
                <p class="text-gray-700 text-base">
                    No hay películas en la base de datos. <a href="#" class="text-blu-500">Añade una</a>
                </p>
            </div>
        </div>     
    {% else %}   
        <div class="grid grid-cols-3 gap-4">
            {% for movie in movies %}
                <div class="bg-white rounded-lg shadow-lg overflow-hidden relative">
                    <a href="#">
                        <img src="{{ movie.poster }}" alt="{{ movie.title }}" class="w-full h-56 object-cover object-center">
                    </a>
                    <div class="px-4 py-4">
                        <div class="font-bold text-xl mb-2">{{ movie.title }}</div>
                        <p class="text-gray-700 text-base">
                            {{ movie.description|slice(0, 100)}}
                        </p>
                    </div>
                    <div class="flex justify-center mt-2">
                        {% include 'partials/movies/facts.html.twig' with {'movie':movie} %}
                    </div>
                    <div class="flex justify-center my-3">
                        <a href="#" class="bg-yellow-500 hover:bg-yellow-700 text-white font-bold py-2 px-4 rounded-l">
                            <i class="fa fa-edit"></i> Edit
                        </a>
                        <a href="#" class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded-r">
                            <i class="fa fa-eye"></i> View
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}
    </div>
{% endblock %}